<!DOCTYPE html>
<html>
  <head>
    <title>RailsOnFly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #B2DFDB">
    <div style="max-width: 300px; margin: 0 auto;">
      <%= yield %>
    </div>
  </body>
</html>
